/* header */
.header{
    background: var(--bg-color-primary);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 999;
}

.header .navbar-logo{
    display: flex;
    align-items: center;
}

.header .navbar-logo img{
    width: 48px;
    height: auto;
    margin-right: 5px;
}

.header .navbar-logo .logo-caption a{
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--text-color-primary);
}

.header .navbar-logo .logo-caption a:hover{
    opacity: 0.7;
}

.header .navbar-menu{
    width: 30%;
}

.header .navbar-menu .main-menu{
    display: flex;
    justify-content: space-evenly;
}

.header .navbar-menu .main-menu li{
    width: 100%;
    height: auto;
    text-align: center;
}

.header .navbar-menu .main-menu li:hover{
    background: #fff;
}

.header .navbar-menu .main-menu a{
    font-size: 1.1rem;
    font-weight: 600;
    text-transform: capitalize;
    color: var(--text-color-primary);
    display: block;
    padding: 30px 20px;
}

.header .navbar-menu .main-menu a:hover{
    opacity: 0.7;
}

.header .navbar-social a{
    margin: 5px;
}

.header .navbar-social a i{
    color: var(--text-color-primary);
    font-size: 1.3rem;
    width: 45px;
    height: 45px;
    padding: 12px;
    border-radius: 10px;
    text-align: center;
    background: #fff;
}

.header .navbar-social a i:hover{
    opacity: 0.7;
}

.header .navbar-icon{
    display: none;
}

.header .navbar-icon a{
    display: block;
    color: var(--text-color-primary);
}

.header .navbar-icon a:hover{
    opacity: 0.7;
}

.header .navbar-icon i{
    font-size: 2rem;
}

@media (max-width: 1560px) {
    .header .navbar-menu{
        width: 40%;
    }
}

@media (max-width: 1200px) {
    .header .navbar-menu{
        width: 50%;
    }
}

@media (max-width: 992px) {
    .header{
        padding: 15px 0;
    }
    .header .navbar-menu{
        display: none;
    }

    .header .navbar-social{
        display: none;
    }

    .header .navbar-icon{
        display: block;
    }
}
/* end header */




/* slide */
.sec1{
    background: url(../images/bg-sec1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    position: relative;
    padding: 150px 0;
}

.sec1::before{
    content: "";
    background: #000;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.6;
}

.sec1 .inner-wrap{
    /* padding: 150px 0; */
    position: relative;
    z-index: 998;
}

.sec1 .inner-wrap .inner-slide{
    width: 50%;
}

.sec1 .inner-wrap span{
    color: white;
    margin-bottom: 10px;
}

.sec1 .inner-wrap .h2{
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: capitalize;
}

.sec1 .inner-wrap .title{
    font-size: 3rem;
    font-weight: 700;
    text-transform: capitalize;
}

.sec1 .inner-wrap .desc{
    opacity: 0.8;
}

.sec1 .inner-wrap .btn-slide{
    padding-top: 50px;
    padding-bottom: 22px;
}

.sec1 .inner-wrap .btn-slide a{
    color: white;
    text-transform: capitalize;
    font-weight: 600;
}

.sec1 .inner-wrap .btn-slide .btn1{
    background: #f7d9c4;
    color: var(--text-color-primary);
    border: 2px solid transparent;
    margin-right: 10px;
}

.sec1 .inner-wrap .btn-slide .btn1:hover{
    background: #fff;
    transition: 0.3s ease-in-out;
}

.sec1 .inner-wrap .btn-slide .btn2{
    background: transparent;
    border: 2px solid rgba(221, 221, 221, 0.452)
}

.sec1 .inner-wrap .btn-slide .btn2:hover{
    background: #f7d9c4;
    color: var(--text-color-primary);
    transition: 0.3s ease-in-out;
}

@media (max-width: 1250px) {
    .sec1 .inner-wrap .inner-slide{
        width: 100%;
    }
}

@media (max-width: 768px) {
    .sec1 .container{
        width: 80%;
    }
}

@media (max-width: 576px) {
    .sec1 .container{
        width: 100%;
        padding: 0 30px;
    }

    .sec1 .inner-wrap .inner-slide .btn-slide{
        display: flex;
        flex-wrap: wrap;
    }

    .sec1 .inner-wrap .inner-slide .btn-slide .btn1{
        margin-bottom: 5px;
        padding: 20px 34px;
    }

    .sec1 .inner-wrap .inner-slide .btn-slide .btn2{
        margin-bottom: 5px;
    }
}
/* end slide */






/* sec2 */
.sec2{
    padding: 100px 0;
    background: var(--bg-color-primary);
}

.sec2 .inner-wrap{
    display: flex;
}

.sec2 .inner-wrap .inner-img{
    width: 50%;
    margin-right: 100px;
}

.sec2 .inner-wrap .inner-img img{
    border-radius: 10px;
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
}

.sec2 .inner-wrap .inner-content{
    width: 50%;
    padding: 33px 0;
}

.sec2 .inner-wrap .inner-content span{
    text-transform: capitalize;
}

.sec2 .inner-wrap .inner-content .h2{
    font-size: 1.1rem;
    font-weight: 700;
    color: #777777;
    margin-bottom: 20px;
}

.sec2 .inner-wrap .inner-content .title{
    font-size: 4rem;
    font-weight: 700;
    color: var(--text-color-primary);
    margin-bottom: 30px;
    line-height: 1.2;
}

.sec2 .inner-wrap .inner-content .item {
    display: flex;
    margin-bottom: 40px;
}

.sec2 .inner-wrap .inner-content .item li{
    width: 25%;
    height: auto;
    padding: 23px;
    background: #fff;
    text-align: center;
    border-radius: 10px;
    margin-right: 30px;
}

.sec2 .inner-wrap .inner-content .item i{
    color: #ff8484;
    font-size: 2rem;
    margin-bottom: 15px;
}

.sec2 .inner-wrap .inner-content .item .icon{
    font-size: 1.2rem;
    font-weight: 600;
}

.sec2 .inner-wrap .inner-content .text{
    font-size: 1.1rem;
    color: #777777;
    margin-bottom: 60px;
}

.sec2 .inner-wrap .inner-content .btn1{
    color: var(--text-color-primary);
    background: #f7d9c4;
    text-transform: capitalize;
    font-weight: 700;
}

.sec2 .inner-wrap .inner-content .btn1:hover{
    background: #fff;
    transition: 0.3s ease-in-out;
}
/* end sec2 */





/* sec3 */
.sec3{
    padding: 100px 0;
    background: var(--bg-color-primary);
}

.sec3 .inner-wrap{
    background: #fff;
    display: flex;
    align-items: center;
    width: auto;
    height: 370px;
    position: relative;
    border-radius: 10px;
}

.sec3 .inner-wrap .inner-content{
    width: 65%;
    padding: 40px 60px;
}

.sec3 .inner-wrap .inner-content .h2{
    font-size: 1.1rem;
    font-weight: 600;
    text-transform: capitalize;
    color: #777777;
    margin-bottom: 20px;
}

.sec3 .inner-wrap .inner-content .title{
    font-size: 4rem;
    font-weight: 700;
    line-height: 1.2;
}

.sec3 .inner-wrap .inner-img{
    width: 30%;
    height: auto;
    position: absolute;
    bottom: 0;
    right: 5%;
}

.sec3 .inner-wrap .inner-img img{
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
/* end sec3 */





/* sec4 */
.sec4 {
    padding: 100px 0;
}

.sec4 .inner-wrap .title{
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.sec4 .inner-wrap .text{
    color: #777777;
    font-size: 1.1rem;
    margin-bottom: 20px;
}

.sec4 .inner-wrap .list{
    display: flex;
    flex-wrap: wrap;
}

.sec4 .inner-wrap .list li{
    font-size: 1.1rem;
    text-transform: capitalize;
    color: #777777;
    width: 32%;
    height: auto;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.sec4 .inner-wrap .list li::before{
    content: "✓";
    width: 22px;
    height: auto;
    display: block;
    text-align: center;
    padding: 10px;
    border-radius: 50%;
    background: var(--bg-color-primary);
    margin-right: 10px;
}

/* .sec4 .inner-wrap .list .l2{
    order: 5;
}

.sec4 .inner-wrap .list .l5{
    order: 2;
} */
/* end sec4 */






/* sec5 */
.sec5{
    padding: 100px 0;
    background: var(--bg-color-primary);
}

.sec5 .inner-wrap .title{
    font-size: 4rem;
    text-transform: capitalize;
    font-weight: 700;
    text-align: center;
    margin-bottom: 50px;
}

.sec5 .inner-wrap .inner-box{
    display: flex;
    justify-content: space-between;
}

.sec5 .inner-wrap .inner-box .box{
    width: 32%;
    position: relative;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
}

.sec5 .inner-wrap .inner-box .box img{
    width: 100%;
    height: auto;
    aspect-ratio: 4/3;
    object-fit: cover;
}

.sec5 .inner-wrap .inner-box .box .icon{
    position: absolute;
    right: 30px;
    bottom: 105px;
    width: 60px;
    height: 60px;
    background: #fff;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}

.sec5 .inner-wrap .inner-box .box .icon i{
    font-size: 1.1rem;
    color: var(--text-color-primary);
}

.sec5 .inner-wrap .inner-box .box .content{
    padding: 30px;
}

.sec5 .inner-wrap .inner-box .box .content .desc{
    font-weight: 600;
    text-transform: capitalize;
    color: #777777;
}

.sec5 .inner-wrap .inner-box .box .content .titles5{
    font-size: 1.8rem;
    font-weight: 700;
    text-transform: capitalize;
    color: var(--text-color-primary);
}
/* end sec5 */





/* sec6 */
.sec6{
    padding: 100px 0;
    background: var(--bg-color-secondary);
}

.sec6 .inner-wrap{
    background: #fff;
    display: flex;
    align-items: center;
    border-radius: 10px;
}

.sec6 .inner-wrap .inner-content{
    width: 50%;
    padding: 70px;
}

.sec6 .inner-wrap .inner-content .desc{
    font-weight: 600;
    color: #777777;
}

.sec6 .inner-wrap .inner-content .title{
    font-size: 3.5rem;
    font-weight: 700;
}

.sec6 .inner-wrap .inner-item{
    color: #777777;
    width: 50%;
    padding: 70px;
}

.sec6 .inner-wrap .inner-item .item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin: 20px 0;
}

.sec6 .inner-wrap .inner-item .item .left{
    display: flex;
    align-items: center;
}

.sec6 .inner-wrap .inner-item .item .left i{
    font-size: 1.5rem;
    margin-right: 15px;
}

.sec6 .inner-wrap .inner-item .item .left .title{
    font-size: 1.2rem;
    text-transform: capitalize;
}
/* end sec6 */







/* sec7 */
.sec7{
    padding: 100px 0;
    background: var(--bg-color-primary);
}

.sec7 .inner-wrap .content{
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 50px;
}

.sec7 .inner-wrap .content .desc{
    font-size: 1.1rem;
    font-weight: 700;
    color: #777777;
}

.sec7 .inner-wrap .content .title{
    font-size: 3.5rem;
    font-weight: 700;
}

.sec7 .inner-wrap .members{
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

.sec7 .inner-wrap .members .box{
    width: 23%;
    height: auto;
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
    border-radius: 10px;
}

.sec7 .inner-wrap .members .box span{
    text-transform: capitalize;
}

.sec7 .inner-wrap .members .box img{
    width: 60%;
    height: auto;
    object-fit: cover;
    border-radius: 50%;
    aspect-ratio: 1/1;
    display: block;
    margin-bottom: 20px;
}

.sec7 .inner-wrap .members .box .name{
    font-size: 2rem;
    font-weight: 600;
    color: var(--text-color-primary);
}

.sec7 .inner-wrap .members .box .job{
    color: #777777;
    margin-bottom: 40px;
}

.sec7 .inner-wrap .members .box .contact-social{
    display: flex;
}

.sec7 .inner-wrap .members .box .contact-social li{
    width: 45px;
    height: auto;
    background: var(--bg-color-primary);
    padding: 12px 10px;
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin: 0 5px;
}

.sec7 .inner-wrap .members .box .contact-social li:hover{
    background: #f7d9c4;
    transition: 0.3s ease-in-out;
}

.sec7 .inner-wrap .members .box .contact-social li i{
    font-size: 1.2rem;
    color: var(--text-color-primary);
}

.sec7 .inner-wrap .members .box .contact-social li i:hover{
    color: #fff;
    transition: 0.3s ease-in-out;
}

.sec7 .inner-wrap .company{
    position: relative;
}

.sec7 .inner-wrap .company img{
    width: 100%;
    height: 500px;
    object-fit: cover;
    border-radius: 10px;
}

.sec7 .inner-wrap .company .info {
    display: flex;
    justify-content: space-evenly;
    background: #fff;
    width: 90%;
    padding: 20px 0;
    border-radius: 10px;
    position: absolute;
    bottom: -50px;
    right: 5%;
}

.sec7 .inner-wrap .company .info .personal{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
}

.sec7 .inner-wrap .company .info .personal li{
    width: 20%;
    text-transform: capitalize;
}

.sec7 .inner-wrap .company .info .personal li .top{
    color: #777777;
    margin-bottom: 5px;
}

.sec7 .inner-wrap .company .info .personal li .bot{
    color: var(--text-color-primary);
    font-size: 1.1rem;
    font-weight: 600;
}

.sec7 .inner-wrap .company .info .btn1{
    color: #fff;
    background: var(--bg-color-secondary);
    font-size: 1.1rem;
    font-weight: 600;
    text-transform: capitalize;
}

.sec7 .inner-wrap .company .info .btn1:hover{
    background: #000;
    transition: 0.3s ease-in-out;
}
/* end sec7 */





/* sec8 */
.sec8{
    padding: 100px 0;
    background: var(--bg-color-secondary);
}

.sec8 .inner-wrap .inner-content{
    margin-bottom: 50px;
}

.sec8 .inner-wrap .inner-content span{
    text-transform: capitalize;
}

.sec8 .inner-wrap .inner-content .desc{
    color: #777777;
    font-size: 1.3rem;
    font-weight: 600;
}

.sec8 .inner-wrap .inner-content .title{
    font-size: 4rem;
    color: #fff;
    font-weight: 700;
}

.sec8 .inner-wrap .inner-cmt{
    display: flex;
    justify-content: space-between;
}

.sec8 .inner-wrap .inner-cmt .box{
    background: #fff;
    width: 30%;
    padding: 30px 40px;
    border-radius: 10px;
}

.sec8 .inner-wrap .inner-cmt .box .text{
    font-size: 1.5rem;
    color: #777777;
    font-style: italic;
}

.sec8 .inner-wrap .inner-cmt .box .icon{
    float: right;
    margin-top: -20px;
}

.sec8 .inner-wrap .inner-cmt .box .icon i{
    font-size: 3rem;
    color: #777777;
}

.sec8 .inner-wrap .inner-cmt .box .person{
    display: flex;
    align-items: center;
}

.sec8 .inner-wrap .inner-cmt .box .person .img{
    width: 30%;
    margin-right: 20px;
}

.sec8 .inner-wrap .inner-cmt .box .person img{
    width: 100%;
    height: auto;
    border-radius: 50%;
    display: block;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.sec8 .inner-wrap .inner-cmt .box .person .name-job{
    width: 70%;
}

.sec8 .inner-wrap .inner-cmt .box .person .name{
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: capitalize;
}

.sec8 .inner-wrap .inner-cmt .box .person .job{
    color: #777777;
    text-transform: capitalize;
}
/* end sec8 */






/* sec9 */
.sec9 {
    padding: 100px 0;
    background: #dce8eb;
}

.sec9 .inner-wrap .title{
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 50px;
}

.sec9 .inner-wrap .inner-video{
    position: relative;
}

.sec9 .inner-wrap .inner-video .video{
    width: 100%;
    height: auto;
}

@keyframes icon {
    from {
        width: 120px;
        height: 120px;
        opacity: 0.8;
    }
    to {
        width: 160px;
        height: 160px;
        opacity: 0;
    }
}

.sec9 .inner-wrap .inner-video .icon-video{
    position: absolute;
    background: #fff;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    top: calc(50% - 60px);
    left: calc(50% - 60px);
    /* top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); cách căn giữa thứ 3*/
}

.sec9 .inner-wrap .inner-video .icon-video::before{
    content: "";
    position: absolute;
    background: #fff;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    font-size: 3rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    animation-name: icon;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

.sec9 .inner-wrap .inner-video .icon-video i{
    position: relative;
    /* để cho icon play hiển thị lên trên */
}
/* end sec9 */





/* sec10 */
.sec10{
    padding: 100px 0;
}

.sec10 .inner-wrap{
    background: #dce8eb;
    padding: 80px;
    border-radius: 10px;
}

.sec10 .inner-wrap .desc{
    font-size: 1.1rem;
    font-weight: 600;
    color: #777777;
}

.sec10 .inner-wrap .title{
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 30px;
}

.sec10 .inner-wrap .form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.sec10 .inner-wrap .form input{
    width: 32.5%;
    border: none;
    padding: 20px;
    border-radius: 10px;
    font-size: 1rem;
    outline: 0;
}

.sec10 .inner-wrap .form textarea{
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 20px;
    margin: 2% 0;
    font: var(--font);
    outline: 0;
}

.sec10 .inner-wrap .form .btn1{
    color: #fff;
    font-size: 1.1rem;
    font-weight: 600;
    border: none;
    margin-left: auto;
    cursor: pointer;
}

.sec10 .inner-wrap .form .btn1:hover{
    background: #f7d9c4;
    color: var(--text-color-primary);
    transition: 0.3s ease-in-out;
}
/* end sec10 */





/* footer */
.footer{
    padding-top: 100px;
    background: var(--bg-color-secondary);
}

.footer .inner-wrap{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.footer .inner-wrap .menu-footer{
    width: 30%;
}

.footer .inner-wrap .menu-footer .menu{
    margin-bottom: 20px;
}

.footer .inner-wrap .menu-footer .menu li{
    font-size: 1.2rem;
    text-transform: capitalize;
    padding: 10px 0;
}

.footer .inner-wrap .menu-footer .menu li a{
    color: #fff;
}

.footer .inner-wrap .menu-footer .menu li a:hover{
    opacity: 0.7;
}

.footer .inner-wrap .menu-footer .social {
    display: flex;
}

.footer .inner-wrap .menu-footer .social li{
    width: 50px;
    height: 50px;
    text-align: center;
    padding: 10px;
    background: #fff;
    margin-right: 20px;
    border-radius: 10px;
}

.footer .inner-wrap .menu-footer .social li i:hover{
    opacity: 0.7;
}

.footer .inner-wrap .menu-footer .social li i{
    font-size: 2rem;
    color: var(--text-color-primary);
}

.footer .inner-wrap .maps{
    width: 65%;
    height: auto;
}

.footer .inner-wrap .maps iframe{
    width: 100%;
    height: auto;
    aspect-ratio: 4/3;
    border: 0;
    border-radius: 10px;
}

.footer .copyright{
    background: #000;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    font-size: 1.2rem;
}
/* end footer */